doctype html
html(lang="en") 

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
    title Crypto
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
    link(rel="stylesheet", href="/css/jquery.mCustomScrollbar.min.css")
    link(rel="stylesheet", href="/css/animate.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/style2.css")
    link(rel="stylesheet", href="/css/media-queries.css")
    link(rel="shortcut icon", href="/img/radium_crop.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")
    title RDX.360 
  
  body
    //  Wrapper 
    .wrapper
      //  Sidebar 
      nav.sidebar
        //  close sidebar menu 
        .dismiss
          i.fas.fa-arrow-left
        .logo.mt-3
          a(href="index.html")
            img(src="/img/radium png.png", alt, srcset, style="width: 200px;")
        ul.list-unstyled.menu-elements
          li.active
            a.scroll-link(href="#top-content")
              i.fas.fa-home
              |  Home
          li
            a.scroll-link(href="#section-4")
              i.fas.fa-cog
              |  Tokenomics
          li
            a.scroll-link(href="#section-5")
              i.fas.fa-road
              |  Roadmap
          li
            a.scroll-link(href="#section-6")
              i.fas.fa-tablet-alt
              |  App
        .to-top
          a.btn.btn-primary.btn-customized-3(href="#", role="button")
            i.fas.fa-arrow-up
            |  Top

      //  End sidebar 
      //  Dark overlay 
      .overlay
      //  Content 
      .content
        //  open sidebar menu 
        a.btn.btn-customized.open-menu(href="#", role="button")
          i.fas.fa-align-left
          |  
          span Menu
        img.mt-3(src="/img/radium png.png", alt, style="width: 12rem; margin-left: 5rem;")
        a.scroll-link.btn.presale_btn.float-right.mr-3.text-white(type="button", href="#section-3", style="margin-top: 1.5rem;")
          i.fa.fa-gem
          | Pre-sale
        //  Top content 
        .top-content.section-container#top-content
          .container.p-2#section_1
            .row
              .col-12.text-center.text-white.wow.fadeInLeft(style="font-size: 3rem;") About RDX360.Network
            .row.mt-3
              .col-6.mx-auto.wow.fadeInLeft(style="text-align: center;").
                RDX360.NETWORK is a special variant of bitcoin blockchain that utilizes a Layer 2 extensibility engine to enable leveraged transactions while also lowering transaction fees. RDX360 is the RDX360.NETWORK governance token, with a total quantity of 10,000,000. RDX360 is traded on the exchanges Hotbit, Binance, and Coinbase. The cost of listing RDX360 is anticipated to be $30.
                
            .row.mt-5
              .mx-auto
                a.scroll-link.btn.btn-lg.presale_btn.mr-2.text-white(type="button", href="#section-3")
                  i.fa.fa-gem
                  |  Pre-sale
                a.btn.btn-lg.airdrop_btn.text-white.scroll-link(type="button", href="#section-4")
                  i.fa.fa-parachute-box
                  | Airdrop
          hr.bg-white(style="margin-top: 6rem; opacity: 0.1;")
        //  Section 1 
        .section-1-container.section-container#section-1
          .container
            .row
              .col-sm-12
                h2.text-left.text-white.wow.fadeInLeft How Does RDX.360.NETWORK Work?
                p.text-left.
                  RDX360.NETWORK collaborated with Radium, which utilized Radium, the Layer two scalability system which will improve the trading on the platform. In simple terms, the impact is similar to the future Eth 2.0 upgrade since the cost of gas will be reduced to zero, minimum sizes for trades will be decreased, and the trading fees will be less.
                  
                p.text-left.wow.fadeInLeft.
                  The goal of RDX360.NETWORK is to provide secure trading solutions with cheap gas and charge costs.. To achieve this, the platform is moving toward Layer 2 with the help of Radium to boost the capacity of its trade settlement.
                  
               
              .offset-1.col-5.wow.fadeInLeft
                img.image_image(src="/image.svg", alt, srcset)
            .row
              .col-5.mx-auto.wow.fadeInLeft
                button.btn.btn-lg.mr-2.whitepaper_btn(type="button") Whitepaper
                button.btn.btn-lg.mr-2.whitepaper_btn(type="button") Audit report
                
        //  Section 2 
        .section-2-container.section-container#section-2(style="background-color: #1a1b26;")
          .container
            div
              h2.text-white.text-left.wow.fadeInLeft.pt-5 How to claim RDX.360?
              p.col-8.text-left.wow.fadeInLeft.mt-3(style="padding-left: 0;") RDX360 is RDX360.NETWORK's governance token, with only 10,000,000. 2,000,000 RDX360 tokens are utilised for free community airdrops. The presale for 4,000,000 RDX360 tokens is now open. 1ETH equals 20,000 RDX360 in the presale. RDX360 will be listed on the Uniswap, Hotbit, Binance, and Coinbase exchanges immediately after the presale concludes. Participating in the RDX360 airdrops or presale is currently the only way to get RDX360 tokens. You will be able to purchase RDX360 via exchanges after the presale has ended.
            .row(style="margin-top: 5rem;")
              .col-sm-6.wow.fadeInLeft
                h3.text-left.ml-4.text-white Airdrop Rules
                ul
                  li.text-left The airdrop will comprise of 2,000,000 RDX.360 tokens.
                  li.text-left To participate in the airdrop, you must provide your Ethereum wallet address. You will receive 10 RDX360 tokens if you participate in the airdrop. If you copy and forward your referral link to your contacts, you will receive 10 RDX360 tokens for each referral.
                  li.text-left.
                    The prize might be as high as 500 RDX360 Tokens, and each participant can invite up to 50 additional persons.
                    
              .col-sm-6.wow.fadeInLeft
                h3.text-left.ml-4.text-white Airdrop Details
                ul
                  li.text-left The airdrop for RDX360 will cease on February 12th. When the airdrop is over, RDX360 tokens are sent to the ETH wallet address you provided in a timely manner.
                  li.text-left.
                    The distribution of the airdrop and RDX360 listings will be driven up if the pre-sales are done beforehand.
                    
                  li.text-left.
                    Please provide a sincere critique. Cheating incentives will be taken away from our system if our system detects inadvertent acts that are deemed as cheating.
                    
              .col-sm-6.mt-3.wow.fadeInLeft
                h3.text-left.ml-4.text-white Pre-sale Rules
                ul
                  li.text-left The price of the presale is four million RDX tokens.
                  li.text-left.
                    Pre-sale date 2021-11-4 - the date 2022-2-12 (UTC-7).
                    
                  li.text-left.
                    Pre-sale price 1 ETH = 20,000 RDX.360. The minimum purchase is 0.05 ETH, and the maximum purchase is 10 ETH.
                    
                  li.text-left.
                    Transfer Ethereum to the presale address specified on this website using your wallet. Our system will automatically send RDX360 tokens to your account. You can send any amount of Ethereum.
                    
              .col-sm-6.mt-3.wow.fadeInLeft
                h3.text-left.ml-4.text-white Pre-sale Details
                ul
                  li.text-left The timeframe at which ETH arrives will determine the distribution of RDX360.
                  li.text-left.
                    The individual who arrives first will be served first
                    
                  li.text-left.
                    Following the end of the presale period. The money would be invested in Uniswap liquidity to the tune of 30%. RDX360 tokens will be listed on the Binance, Coinbase, Huobi, and Hotbit exchanges with the same 30% of the funds raised. Before the pre-sale begins, the remaining cash will be used to repurchase RDX360 tokens. People find it tough to sell because of this.
                    
        //  Section 3 
        .section-3-container.section-container.pt-5#section-3
          .container#section_4
            .row.mb-3.wow.fadeInLeft
              .col-4.mx-auto.wow.fadeInLeft
                h1(style="text-align: center; color: white;") Pre-sale is live
            .row.wow.fadeInLeft(style="text-align: center")
              .col-6.mx-auto.p-4.w-100(style="background-color: #1a1b26")
                p.font-weight-bold(style="color: white") Pre-sale Address
                p.copy_address#copy(style="color:#249b8e").
                  
                  0x7c731AB97e4dea173aAFFBa64c9C9Dc21e2F1b77
                  
                button.btn.copyaddress_btn(type="button").
                  
                  Copy address
                  
                .mb-2
                  small.address_copied_text.font-weight-bold.text-success(style="opacity: 0;") Address copied
            .row.mt-3
              .col-6.mx-auto.wow.fadeInLeft
            
                p ● Quantity reserved for pre-sale: 4,000,000 RDX.360.
                p ● Post-Sale Cost: 1 ETH = 20,000 RDX.360.
                p ● Mini buy is 0.05 ETH, and max buy is 10 ETH.
                p.
                  
                  Transfer ETH from your account to the presale email address mentioned above. Our system will transfer RDX.360 tokens directly to your wallet right away.
                  
              
            .row
              .col-4.cards
                .card.card_cards.mx-auto
                  .card-body.text-left
                    p.card-title Token Name
                    h6.card-subtitle.mb-2.text-muted RDX.360
              .col-4.cards
                .card.card_cards.mx-auto
                  .card-body.text-left
                    p.card-title Token Symbol
                    h6.card-subtitle.mb-2.text-muted RDX.360
              .col-4.cards
                .card.card_cards.mx-auto
                  .card-body.text-left
                    p.card-title Decimals
                    h6.card-subtitle.mb-2.text-muted 18
            .row.mt-5.mb-5.justify-content-center
              .col-4.cards
                .card.card_cards.mx-auto
                  .card-body.text-left
                    p.card-title Contract Address
                    h6.card-subtitle.mb-2.text-muted 0x1482D014AaCbeABe40E
              .col-4.cards
                .card.card_cards.mx-auto
                  .card-body.text-left
                    p.card-title Blockchain
                    h6.card-subtitle.mb-2.text-muted Ethereum ERC-20
              .col-4.cards
                .card.card_cards.mx-auto
                  .card-body.text-left
                    p.card-title Total Supply
                    h6.card-subtitle.mb-2.text-muted 10,000,000
            .row.justify-content-center
              .col-10
                .card.search_address
                  .card-header
                    h2.text-center.pt-4.pb-1.text-white.
                      
                      RDX.360 Airdrop
                      
                  .card-body.mx-auto.p-5
                    .d-flex.justify-content-center.h-100
                      form.searchbar
                        input.search_input.pl-3(type=" text ", name=" ", placeholder=" Enter your ETH address ")
                        button.search_icon(type="submit", style="border: none;")
                          i.fas.fa-search.mr-2
                         
                    .card-body.search_result(style="display: none")
                      div
                        .text-left.p-5
                          p
                            span.text-white.font-weight-bold.
                              
                              Refer link:
                              
                            span.reffered_link(style="color: #5b7fec") https://RDX.360.network/N8LHKWP
                          p.text-white-50.
                            
                            Copy and share your refer link, you and the invitee will be rewarded 10 RDX.360 at the same time, each person can invite up to 50 people, and the reward can be up to 500 RDX.360 tokens.
                            
                          .row.justify-content-center.mt-5.pl-5.pr-5
                            .col-3
                              span.balance(style="color: #5b7fec") 10 
                              span.text-white RDX.360
                              br
                              span.text-white-50 Balance
                            .col-3
                              span.reffered(style="color: #5b7fec") 0
                              br
                              span.text-white-50 Reffered
                            .col-3
                              span.reward(style="color: #5b7fec") 10 
                              span.text-white RDX.360
                              br
                              span.text-white-50 Rewards
                            .col-3
                              button.btn.withdraw_btn.rounded-pill.text-white.pt-2.pb-2.w-100(type="button ").
                                
                                Withdraw
                                
                    small.invalid_link(style="color: red; display: none") Invalid wallet address
          hr.bg-white(style="margin-top: 6rem; opacity: 0.1;")
        //  Section 4 
        .section-4-container.section-container.section-container-image-bg#section-4
          .container
            h2 RDX.360 Tokenomics
            p.mb-5 There are a total of 10,000,000 RDX.360 tokens that will be distributed. Here's a breakdown of the RDX.360 token:
            .row.justify-content-center(style="margin-top: 7rem;")
              .col-4.wow.pulse
                canvas#myChart
              .col-5(style="margin-top: 5rem;")
                table(style="width:100%")
                  tbody
                    tr.text-left
                      td.c1.mr-3
                        i.fas.fa-circle
                      td Pre-sale
                      td 40%
                    tr.text-left
                      td.c2.mr-3
                        i.fas.fa-circle
                      td Community Airdrop
                      td 20%
                    tr.text-left
                      td.c3
                        i.fas.fa-circle
                      td Farm, Staking, Pools, Liquidity
                      td 30%
                    tr.text-left
                      td.c4.mr-3
                        i.fas.fa-circle
                      td Project Partners
                      td 5%
                    tr.text-left
                      td.c5.mr-3
                        i.fas.fa-circle
                      td Team and Development
                      td 5%
          hr.bg-white(style="margin-top: 6rem; opacity: 0.1;")
        .section-5-container.section-container.section-container-image-bg#section-5
          .container
            h2.text-center.mt-5 Project Roadmap
            main
              p.para.text-left
                br
                | The official website has become operational & a Smart Contract is deployed.

                br
                | Pre-sale & Airdrop Started.

                br
                | The first marketing campaign.

                br
                |  Developing the RDX360.NETWORK platform.

              p.para.text-left
                | Pre-sale completed AirDrop Distributed.

                br
                | RDX360 listed on UNISWAP.

                br
                | RDX360 listed on CoinMarketing & CoinGecko.

                br
                | The Second Marketing Campaign.

              p.para.text-left
                | RDX360 listed on Hotbit, Biance, & Coinbase Exchanges RDX360.

                br
                |  NETWORK platform launched.

                br
                | Launch swap platform, staking program & Liquidity Pool.

                br
                | The Third Marketing Campaign.

              p.para.text-left
                | Launch of Mobile apps and DeFi Wallet.

                br
                |  Launch of the Borrow platform.

                br
                |  Listed on the top 10 CMC exchange.

                br
                |  Roadmap update.

          hr.bg-white(style="margin-top: 6rem; opacity: 0.1;")
        //  Section 6 
        .section-6-container.section-container.section-container-image-bg#section-6
          .container
            .row
              img.img-fluid.moc_img.wow.fadeInLeftBig(src="/img/backgrounds/device-mockup.png", alt)
              .col-6.content_bg.wow.fadeInRightBig
                h1.text-white.text-left RDX.NETWORK Platform coming Soon
                p.text-left.
                  We will build the most efficient and effective decentralised exchange ever.
                  
                ul(style="padding-left: 15px !important;")
                  li.text-left.
                    
                    You do not have to pay the miners fees for each transaction after you put your cash into Layer 2.
                    
                  li.text-left.
                    
                    Unlike many other networks, Layer 2 does not require you to wait to withdraw your funds.
                    
                  li.text-left.
                    
                    Radium's Layer 2 solution uses zero-knowledge rollups to provide enhanced safety and confidentiality.
                    
                  li.text-left.
                    
                    In a handful of hours, the transactions are completed and validated on the blockchain.
                    
                  li.text-left.
                    
                    The site is mobile-friendly. It can be accessed from any computer or mobile device.
                    
                  li.text-left.
                    
                    From a single account, scale positions in many marketplaces.
                    
                .mt-5
                  button.btn.btn-lg.airdrop_btn.px-5(type="button").
                    
                    Download
                  span.ml-4 Available for Android
          hr.bg-white(style="margin-top: 6rem; opacity: 0.1;")
        //  Section 7 
        .section-6-container.section-container.section-container-image-bg#section-7
          .container#section_7
            .row.mb-5
              .col-12.text-center
                h1.text-white.
                  
                  Partners
                  
            .row
              .col-3.text-center.partner_img_first
                img.p-5.partner_img_1.wow.fadeIn(src="/img/a16zcrypto.svg", alt=" ")
              .col-3.text-center.partner_img
                img.p-5.partner_img_2.wow.fadeIn(src="/img/paradigm.svg", alt=" ")
              .col-3.text-center.partner_img
                img.p-5.partner_img_3.wow.fadeIn(src="/img/threearrows.svg", alt=" ")
              .col-3.text-center.partner_img_last
                img.p-5.partner_img_4.wow.fadeIn(src="/img/defiance.svg", alt=" ")
            .row
              .col-3.text-center.partner_img_first
                img.p-5.partner_img_5.wow.fadeIn(src="/img/dragonfly.svg", alt=" ")
              .col-3.text-center.partner_img
                img.p-5.partner_img_6.wow.fadeIn(src="/img/wintermute.svg", alt=" ")
              .col-3.text-center.partner_img
                img.p-5.partner_img_7.wow.fadeIn(src="/img/bcv.svg", alt=" ")
              .col-3.text-center.partner_img_last
                img.p-5.partner_img_8.wow.fadeIn(src="/img/rocktree.svg", alt=" ")
            .row
              .col-3.text-center.partner_img_first.partner_img_last_line
                img.p-5.partner_img_9.wow.fadeIn(src="/img/mgnr.svg", alt=" ")
              .col-3.text-center.partner_img.partner_img_last_line
                img.p-5.partner_img_10.wow.fadeIn(src="/img/delphi-digital.svg", alt=" ")
              .col-3.text-center.partner_img.partner_img_last_line
                img.p-5.partner_img_11.wow.fadeIn(src="/img/menai.svg", alt=" ")
              .col-3.text-center.partner_img_last.partner_img_last_line
                img.p-5.partner_img_12.wow.fadeIn(src="/img/finlink.svg", alt=" ")
        //  Footer 
        footer.text-white.pt-5.wow.slideInUp(style="background-color: #1a1b26;")
          .container
            .row
              .col-sm-6
                .text-left
                  img(src="/img/radium png.png", style="width:200px;", alt)
                p.text-left.mt-3 RDX360.NETWORK is a special variant of bitcoin blockchain that utilizes a Layer 2 extensibility engine to enable leveraged transactions while also lowering transaction fees. RDX360 is the RDX360.NETWORK governance token, with a total quantity of 10,000,000. RDX360 is traded on the exchanges Hotbit, Binance, and Coinbase. The cost of listing RDX360 is anticipated to be $30.
              .col-sm-6
                .mb-4.text-right
                  span.social_icon.mr-2
                    i.fab.fa-telegram-plane
                  span.social_icon
                    i.fab.fa-twitter
                .text-right © 2021 - 2022 RDX.360. All Rights Reserved.
      //  End content 
    //  End wrapper 
    
    //  Javascript 
    script(src="js/walletAddress.js")
    script(src="js/jquery-3.3.1.min.js")
    script(src="js/jquery-migrate-3.0.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
    script(src="js/jquery.backstretch.min.js")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="js/wow.min.js")
    script(src="js/jquery.waypoints.min.js")
    script(src="js/jquery.mCustomScrollbar.concat.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js")
    script(src="js/scripts.js")
    