.airdrop_btn,
.presale_btn {
  border-radius: 2rem;
}

.presale_btn {
  background-color: #eb5e29;
  }

  .presale_btn:hover {
    background-color: #ee7143;
}

.airdrop_btn {
  background-color: #5569b2;
  }

  .airdrop_btn:hover {
    background-color: #6a74b8;
}

.airdrop_ending {
  border: 1px solid black;
  text-align: center;
  /* clip-path: polygon(0 0, 55% 0, 100% 47%, 55% 100%, 0 100%); */
}
.image_image {
  margin-top: 3rem;
  width: 20rem;
}

.whitepaper_btn,
.auditreport_btn {
  border-radius: 2rem;
  background-color: #5569b2;
  color: white;
}
.whitepaper_btn:hover {
  color: white !important;
  background-color: #6a74b8;
}
.copyaddress_btn {
  border-radius: 2rem;
  background-color: #5569b2;
  color: white;
}

.withdraw_btn {
  background-color: #5569b2;
}

.copyaddress_btn:hover,
.withdraw_btn:hover {
  color: white;
  background-color: #6a74b8;
}

.presale_desc {
  text-align: center;
}

.card_cards {
  width: 16rem;
  height: 8rem;
  background-color: #1a1b26;
  color: white;
}

.search_bar_row {
  background-color: #1a1b26;
  color: white;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 35rem;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  background:white ;
}
.search_icon:focus{
  outline: none;
}
.search_address {
  background-color: #1a1b26 !important;
}








.moc_img{
  width: 1000px;
  height: 500px;
  position: absolute;
  left: -15rem;
  top: 2rem;
}
.content_bg{
  margin-left: 40rem;
  margin-top: 3rem;
}
.brd_right{
border-right: 1px splid rgb(41, 41, 41) !important;
}
.brd_left{
border-left: 1px splid rgb(41, 41, 41) !important;
}
.brd_bottom{
border-bottom: 1px splid rgb(170, 167, 167) !important;
}
.social_icon{
  border: 1px solid white;
  padding: 10px 12px;
  border-radius: 25px;
}

.partner_img {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.partner_img_first {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.partner_img_last {
  border-bottom: 1px solid grey;
}

.partner_img_last_line {
  border-bottom: none;
}

.partner_img_1 {
  width: 15rem;
}

.partner_img_2 {
  width: 15rem;
}

.partner_img_3 {
  width: 10rem;
}

.partner_img_4 {
  width: 15rem;
}

.partner_img_5 {
  width: 15rem;
}

.partner_img_6 {
  width: 10rem;
}

.partner_img_7 {
  width: 15rem;
}

.partner_img_8 {
  width: 15rem;
}

.partner_img_9 {
  width: 15rem;
}

.partner_img_10 {
  width: 10rem;
}

.partner_img_11 {
  width: 15rem;
}

.partner_img_12 {
  width: 13rem;
}
main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  color: white !important;
}

.para {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;

}

/* numbers */
.para:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 2.65rem;
  width: 2.65rem;
  background-color: black;
  text-align: center;
  line-height: 1.25em;
  color: white;
  font-size: 1rem;
}

/* odd number borders */
.para:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.para:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
}

/* even number borders */
.para:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;

}

.para:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
}

/* handle first and last */
.para:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.para:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
